.header {
    display: inline-block;
    width: 100%;
    background-color: #f1a81c;
    text-align: left;
    color: #011839;
    font-family: "Garamond";
    font-weight: 700;
    font-style: italic;
    font-size: 35px;
    height: 80px;
    line-height: 80px;
}